html, body {
  height: 100%;
}

.App {
  margin: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

#login {
  margin-bottom: 10px;
}

#chat {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  overflow: auto;
}
